<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <title>Micubiculo.com</title>
  {% include bootstrap.html %}
  {% include style.html %}
  {% include google_analytics.html %}
</head>

<body>
    <header>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <h1>Micubiculo.com</h1>
            <h2>
              <a href="/">Blog</a> - 
              <a href="/aboutme.html">About me</a> - 
              <a href="/feed"><img src="/images/feed-icon-28x28.png" />&nbsp;feed</a></h2>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="span1">&nbsp;</div>
      <div class="span10">{{ content }}</div>
      <div class="span1">&nbsp;</div>
    </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span4">&nbsp;</div>
        <div class="span4">
          <i>
            This is the little personal page of <a href="/aboutme.html">Rafa de Castro</a>. All contents here
            are licensed under Creative Commons attribution license.
          </i>
          <br>
          <img src="/images/CC-by.png" />
        </div>
        <div class="span4">&nbsp;</div>
      </div>
    </div>
  </footer>
</body>
</html>
